@font-face {
  font-family: 'OneShinhanBold';
  src: local('OneShinhanBold'), url('./assets/fonts/OneShinhanBold.ttf') format('truetype');
}

@font-face {
  font-family: 'OneShinhanMedium';
  src: local('OneShinhanMedium'), url('./assets/fonts/OneShinhanMedium.ttf') format('truetype');
}

@font-face {
  font-family: 'OneShinhanLight';
  src: local('OneShinhanLight'), url('./assets/fonts/OneShinhanLight.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: 'OneShinhanMedium', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ----- ALL SORTS OF CONTAINERS ------ */
.main-container {
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
  background-color: #F3F6FB;
}

.auth-container,
.default-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.default-container-reverse {
  position: absolute;
  bottom: 40px;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-container {
  margin-top: 20px;
  display: flex;
}

/* --------- primary-btn ---------- */ 
.primary-btn {
  padding: 15px;
  width: 100%;
  text-align: center;
  font-family: 'OneShinhanBold', sans-serif;
  border: unset;
  border-radius: 15px;
  color: #0046FF;
  z-index: 1;
  background: #E5F0FC;
  position: relative;
  font-size: 1em;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
  overflow: hidden;
  cursor: pointer;
 }
 
 .primary-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #0046FF;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms
 }
 
 .primary-btn:hover {
  color: #E5F0FC;
 }
 
 .primary-btn:hover::before {
  width: 100%;
 }

 .instant-extend {
  width: 30%;
  margin-left: -15px;
 }

 .instant-extend-two {
  width: 40%;
  margin-left: -20px;
 }

/* REACT - TRANSITION - GROUP */
.fade-appear {
  opacity: 0;
}

.fade-appear-active {
  opacity: 1;
  transition: opacity 300ms;
}

/* --------------- OTHERS ------------ */
.mg-top-sm {
  margin-top: 15px;
}

.mg-top-bg {
  margin-top: 30px;
}

.shinhan-color {
  color: #0046FF;
  font-family: 'OneShinhanMedium', sans-serif;
}

/* ------------- HEADER ------------ */
.header {
  color: #0046FF;
  width: 100%;
  text-align: center;
  font-size: 1.3em;
  font-family: 'OneShinhanBold', sans-serif;
  position: relative;
}

.header-back-btn {
  position: absolute;
  left: 200px;
  cursor: pointer;
  transition: .10s ease;
}
.header-back-btn:hover {
  transform: scale(1.03);
}

/* ----------- INFO CARD ----------- */
.info-card {
  width: 350px;
  height: 80px;
  padding: 20px;
  background: rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: 0.3em 0.3em 0.7em #00000015;
  transition: border 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border: rgb(250, 250, 250) 0.2em solid;
  line-height: 160%;
 }
 
 .info-card:hover {
  border: #006fff 0.1em solid;
 }

 /* --------- 스크롤바 무효화 ---------- */
 *::-webkit-scrollbar {
  width: 0 !important;  
  height: 0 !important; 
}