@font-face {
  font-family: 'OneShinhanBold';
  src: local('OneShinhanBold'), url('./assets/fonts/OneShinhanBold.ttf') format('truetype');
}

@font-face {
  font-family: 'OneShinhanMedium';
  src: local('OneShinhanMedium'), url('./assets/fonts/OneShinhanMedium.ttf') format('truetype');
}

@font-face {
  font-family: 'OneShinhanLight';
  src: local('OneShinhanLight'), url('./assets/fonts/OneShinhanLight.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: 'OneShinhanMedium', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ----- CENTER ALIGN ------ */
.main-container {
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
  background-color: #F3F6FB;
}

.welcome-container, 
.auth-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}


/* primary-btn */ 
.primary-btn {
  padding: 15px;
  width: 100%;
  text-align: center;
  font-family: 'OneShinhanBold', sans-serif;
  border: unset;
  border-radius: 15px;
  color: #0046FF;
  z-index: 1;
  background: #E5F0FC;
  position: relative;
  font-size: 1em;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
  overflow: hidden;
 }
 
 .primary-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #0046FF;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms
 }
 
 .primary-btn:hover {
  color: #E5F0FC;
 }
 
 .primary-btn:hover::before {
  width: 100%;
 }

/* REACT - TRANSITION - GROUP */
.fade-appear {
  opacity: 0;
}

.fade-appear-active {
  opacity: 1;
  transition: opacity 300ms;
}

/* --------------- OTHERS ------------ */
.mg-top-sm {
  margin-top: 15px;
}

.mg-top-bg {
  margin-top: 30px;
}